<button class="button", id="login-btn">Login</button>
<button class="button", id="signup-btn">SignUp</button><br>

<div id="login-div">
  <h1>Log In</h1>
  <p> Please login if you are a current user of Babel Code.
  <div class="error">
    <%=flash[:error]%>
  </div>
  <%=form_tag do %>
    <p><%=text_field_tag (:username), nil, placeholder: 'Username' %>
    <p><%=password_field_tag (:password), nil, placeholder: "Password" %>
    <p><%= submit_tag ("Log In"), :class => "button" %>
  <% end %>
</div>

<div id="signup-div">
  <h1>Sign Up</h1>
  <p>Create a Babel Code account, and view code solutions in other languages.
  <div class="error">
    <% if flash[:signin_error] %>
      <% flash[:signin_error].each do |msg| %>
      <p><%= msg %></p>
      <%end%>
    <%end%>
  </div>

  <%= render 'layouts/user_form' %>
</div>
