<%= form_for @original_snippet do |f|%>
<div class="create-snip">
  Title:<br>
  <%= f.text_field :title %><br>
  Description:<br>
  <%= f.text_area :description %><br>
  Code Snippet:<br>
  <code><%= f.text_area :snippet %></code><br>
  <%= f.collection_select :language_id, Language.order(:language), :id, :language %>
  <%= f.submit "Save", :class => "button" %>
</div>
<% end %>
