<%= form_for @original_snippet do |f|%>
  <div class="create-snip">
    <p>Title:</p>
    <%= f.text_field :title %><br>
    <p>Description:</p>
    <%= f.text_area :description %><br>
    <p>Code Snippet:</p>
    <code><%= f.text_area :snippet %></code><br>
    1<p>Language:</p>
    <%= f.collection_select :language_id, Language.order(:language), :id, :language %>
    <%= f.submit "Save", :class => "button" %>
  </div>
<% end %>
