<%= form_for @original_snippet do |f|%>
  <h1><%= @original_snippet.title %></h1>
  Description:<br>
  <%= f.text_area :description %><br>
  Code Snippet:<br>
  <code><%= f.text_area :snippet %></code><br>
  <%= f.collection_select :language_id, Language.order(:language), :id, :language %>
  <%= f.submit "Save", :class =>"button" %>
<% end %>
