<h1><%= @original_snippet.title %></h1>
<p><%= @original_snippet.description %></p>
<pre><code><%= @original_snippet.snippet %></code></pre>
<p>Language: <%= @original_snippet.language.language %></p>

<% if @original_snippet.user == @current_user %>
  <%= button_to "Delete", @original_snippet, method: :delete, action: 'destroy' %>
<% end %>

<%= form_for @reply_snippet do |f| %>
  <%= f.text_area :description %>
  <%= f.text_area :snippet %>
  <%= f.collection_select :language_id, Language.order(:language), :id, :language %>
  <%= f.hidden_field :original_snippet_id, value: @original_snippet.id %>
  <%= f.submit "Reply" %>
<% end %>

<% @reply_snippets.each do |reply| %>
<p><%= reply.description %></p>
<pre><code><%= reply.snippet %></code></pre>
<p>Language: <%= reply.language.language %></p>
<% end %>
