<div class="create-snip">
  <div class="vote-btn">
    <%= render partial: 'vote_form', locals: { val: "1", snippet_id: @original_snippet.id, snippet_class: "OriginalSnippet", div_class: "arrow-up" } %>

    <%= render partial: 'vote_count', locals: {vote_count: @original_snippet.tally_votes, id: @original_snippet.id.to_s, class_name: "OriginalSnippet" } %>

    <%= render partial: 'vote_form', locals: { val: "-1", snippet_id: @original_snippet.id, snippet_class: "OriginalSnippet", div_class: "arrow-down" } %>

  </div>

  <h1><div class="fun-box"></div>
  <%= @original_snippet.title %></h1>
    <p><%= @original_snippet.description %></p>
    <pre><%= @original_snippet.snippet %></pre>
    <p>Language: <%= @original_snippet.language.language %></p>
    <% if @original_snippet.user == @current_user %>
    <%= button_to "Delete", @original_snippet, method: :delete, action: 'destroy' , :class => "button"%>
    <%= button_to "Edit", edit_original_snippet_path(@original_snippet), method: :get, :class => "button" %>
    <% end %>
</div><br><br><br>



<p>Click <button class="button", id="create-reply-btn">reply</button> to this code snippet</p><br>
<div id="reply-msg"></div>
<div class="create-reply">
  <%= form_for(@reply_snippet, remote: true) do |f| %>
  <div class="orig-snip"><ul>
    <li>Description:<br>
    <%= f.text_area :description %></li><br>
    <li>Code Snippet:<br>
    <%= f.text_area :snippet %><br>
    <li>Language:<br>
    <%= f.collection_select :language_id, Language.order(:language), :id, :language, :class=>"button"%></li></ul>
    <%= f.hidden_field :original_snippet_id, value: @original_snippet.id %>
    <%= f.submit "Reply", :class => "reply-button" %>
    </div>
  <% end %>
</div><br>


Scroll down to view replies<br>

<div id="all-replies-div">
<% @reply_snippets.each do |reply| %>
  <%= render partial: 'layouts/reply_snippet', locals: {current_user: @current_user, reply: reply } %>
<% end %>
</div>


